<meta name="viewport" content="width=device-width, initial-scale=1.0">

<%- include('../blocks/header', {bot, user, path}) %>
<div class="container">

	<div class="row justify-content-md-center">
		<div align="center"><h2 style="color: #fff;"><i class="fa fa-wrench fa-fw" aria-hidden="true"></i> Otomatik Rol Sistemi</h2></div>
  </div>
	
  <!--<center><h7 style="color:red">Bakımda...</h7></center>-->
  
	<div class="row">
    
<div class="col">
    <div class="container">
      <form method="post">
        <ul class="list-group list-group-flush">
          
          <div class="row">
            <div class="col-25">
              <label for="otorol">Otomatik Rol</label>
            </div>
            <div class="col-75">
              <select id="otorol" name="otorol" style="width: 49%"> 
           <%if(bot.ayar.has(`otoR_${guild.id}`) === false) {%>
                 <option value="" disabled selected>Rol seçiniz.</option>
                <%
                for (var i = 0; i < guild.roles.filter(r=> r.name!=='@everyone').size; i++){%>
              
                <option value="<%=guild.roles.filter(r=> r.name!=='@everyone').array()[i].name%>">@<%=guild.roles.filter(r=> r.name!=='@everyone').array()[i].name%></option>
              <%  } %>
           <%} else {%>
               <option value="<%=guild.roles.get(bot.ayar.fetch(`otoR_${guild.id}`)).name%>" selected>@<%=guild.roles.get(bot.ayar.fetch(`otoR_${guild.id}`)).name%></option>
             <%for (var i = 0; i < guild.roles.filter(c=>c.id!==bot.ayar.fetch(`otoR_${guild.id}`)).filter(c => c.name!=='@everyone').size; i++){%>
               
                <option value="<%=guild.roles.filter(c=>c.id!==bot.ayar.fetch(`otoR_${guild.id}`)).filter(c => c.name!=='@everyone').array()[i].name%>">@<%=guild.roles.filter(c=>c.id!==bot.ayar.fetch(`otoR_${guild.id}`)).filter(c => c.name!=='@everyone').array()[i].name%></option>
              <%  } %>
                <%}%>
              </select>
              
              <select id="otorolkanal" name="otorolkanal" style="width: 49%; float:right"> 
           <%if(bot.ayar.has(`otoRolK_${guild.id}`) === false) {%>
                 <option value="" disabled selected>Kanal seçiniz.</option>
                <%
                for (var i = 0; i < guild.channels.filter(c => c.type==='text').size; i++){%>
              
                <option value="<%=guild.channels.filter(c => c.type==='text').array()[i].name%>">#<%=guild.channels.filter(c => c.type==='text').array()[i].name%></option>
              <%  } %>
           <%} else {%>
               <option value="<%=guild.channels.get(bot.ayar.fetch(`otoRolK_${guild.id}`)).name%>" selected>#<%=guild.channels.get(bot.ayar.fetch(`otoRolK_${guild.id}`)).name%></option>
            <%for (var i = 0; i < guild.channels.filter(c=>c.id!==bot.ayar.fetch(`otoRolK_${guild.id}`)).filter(c => c.type==='text').size; i++){%>
               
                <option value="<%=guild.channels.filter(c=>c.id!==bot.ayar.fetch(`otoRolK_${guild.id}`)).filter(c => c.type==='text').array()[i].name%>">#<%=guild.channels.filter(c=>c.id!==bot.ayar.fetch(`otoRolK_${guild.id}`)).filter(c => c.type==='text').array()[i].name%></option>
              <%  } %>
                <%}%>
              </select>
            </div>
          </div>
          
          </ul>
          <div style="width: 100%; text-align: right; margin-top: 15px;">
    <button style="background-color:blue; color:#fff" type="sumbit" id="formbtn" class="btn btn-default"><i class="fa fa-fw fa-save" aria-hidden="true"></i> Kaydet</button>
          </div>
      </form>
    </div>
  </div>
    
</div>
<% include ../blocks/guild-modals %>

<script>
	var ts = parseInt($('#guildCreate').text());
	$('#guildCreate').html(`<strong>Created:</strong>: ${moment(ts).format('MMMM Do YYYY (h:mm a)')}`);  
</script>
<% include ../blocks/footer %>
